body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
    background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 44%, rgba(120,120,120,1) 98%);
}
.prod {
    background-color: #dfdfdf;
    margin-top: 10px;
    margin-bottom: 10px;
}
.tittle{
    margin: 10px;
}
.carrito {
    margin-top: 15px;
    margin-bottom: 25px;
}
.color-back {
    margin-bottom: 15px;
    border-radius: 2%;
    background-color: #dddddd;
    padding-bottom: 10px;
}

.Example-btn8{ 
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-weight: 0;
    font-size: 15px;
    color: #000000;
    background-color: #ffffff;
    padding: 5px 50px;
    border: solid #000000 2px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 3px;
    transition : 500ms;
    transform: translateY(0);
    text-transform: uppercase;
    }
    
    .Example-btn8:hover{ 
    transition : 500ms; 
    padding: 2px 44px; 
    transform : translateY(-0px);
    background-color: #000000;
    color: #ffffff;
    border: solid 2px #ffffff;
    }
    
    .Example-btn1{
        background-color: #081f2d; 
        border-radius: 29px; 
        border: 1px solid #081F2D; 
        color: white; 
        font-size: 15px; 
       padding: 10px 45px; 
        cursor: pointer; 
        transition: 0.3s; 
        }
        
        .Example-btn1:hover{ 
        background-color: #000000; 
        color: #d6d6d6; 
        border-color: #081F2D; 
        transition: 0.3s; 
       }

       .Example-btn2{ 
        color: #fff; 
        background: #c50101; 
        border: 3px solid #c50101; 
        min-height: 7px; 
        padding: 2px 7px; 
        border-radius: 4px; 
        font-weight: 600; 
        font-family: plex-sans,sans-serif; 
        font-size: 16px; 
        line-height: 24px; 
        margin: 0; 
        box-sizing: border-box; 
        cursor: pointer; 
        } 
        
        .Example-btn2:hover{ 
        color: #ededed;
        background-color: #b30000; 
        border: 3px solid #a50000; 
        box-sizing:border-box; 
        } 
        