body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
    background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 44%, rgba(120,120,120,1) 98%);
}
.prod {
    background-color: #dfdfdf;
    margin-top: 10px;
    margin-bottom: 10px;
}
.tittle{
    margin: 10px;
}
.carrito {
    margin-top: 15px;
    margin-bottom: 25px;
}
.color-back {
    margin-bottom: 15px;
    border-radius: 2%;
    background-color: #dddddd;
    padding-bottom: 10px;
}

.btn-style-carrito {

    font-family: Roboto, sans-serif;
    font-weight: 0;
    font-size: 15px;
    color: #ededed;
    background-color: #212121;
    padding: 10px 26px;
    margin: auto;
    border: solid #ededed 2px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 50px 15px;
    transition : 500ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    }

    .btn-style-carrito:hover{

        transition : 750ms;
        padding: 10px 27px;
        transform : translateY(-0px);
        background-color: #ededed;
        color: #212121;
        border: solid 2px #212121;
        }

    
    .Example-btn1{

            font-family: Roboto, sans-serif;
            font-weight: 500;
            font-size: 15px;
            color: #ededed;
            background-color: #212121;
            padding: 10px 20px;
            margin: auto;
            border: solid #ededed 2px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            border-radius: 50px 15px;
            transition : 500ms;
            transform: translateY(0);
            align-items: center;
            cursor: pointer;
            }
        
            .Example-btn1:hover{
        
                transition : 750ms;
                padding: 10px 21px;
                transform : translateY(-0px);
                background-color: #d10000;
                color: #ffffff;
                border: solid 2px #212121;
                }

       .Example-btn0{
            
            font-family: Roboto, sans-serif;
            font-weight: 500;
            font-size: 15px;
            color: #ededed;
            background-color: #212121;
            padding: 10px 20px;
            border: solid #ededed 2px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            border-radius: 15px 50px;
            transition : 750ms;
            transform: translateY(0);
            align-items: center;
            cursor: pointer;
            }
            .Example-btn0:hover{

                transition : 750ms;
                padding: 10px 21px;
                transform : translateY(-0px);
                background-color: #53b800;
                color: #ffffff;
                border: solid 2px #212121;
                }

       .Example-btn2{ 
        color: #fff; 
        background: #c50101; 
        border: 3px solid #c50101; 
        min-height: 7px; 
        padding: 2px 7px; 
        border-radius: 4px; 
        font-weight: 600; 
        font-family: plex-sans,sans-serif; 
        font-size: 16px; 
        line-height: 24px; 
        margin: 0; 
        box-sizing: border-box; 
        cursor: pointer; 
        } 
        
        .Example-btn2:hover{ 
        color: #ededed;
        background-color: #b30000; 
        border: 3px solid #a50000; 
        box-sizing:border-box; 
        } 
        
.css-p-cards {
    margin: 5px;
    padding: auto;
}

.css-price-cards{
    margin: 5px;
}

h2{
    font-size: 1.8rem;
    padding-top: 10px;
    margin: auto;
}

.div-btns{
    margin: 5px;
}