body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
  }
.prod {
    background-color: #dfdfdf;
    margin-top: 10px;
    margin-bottom: 10px;
}
.tittle{
    margin: 10px;
}
.carrito {
    margin-top: 15px;
    margin-bottom: 25px;
}